*{margin:0;padding:0}
html{height:100%}
body{min-width:320px;width:100%;height:100%;/*font:normal normal normal 12px/18px Arial,sans-serif;*/background-color:#fff;color:#000}
h1{text-align:center}
.text-center{text-align:center}
/*
* {margin: 0;padding: 0;}
html {height: 100%;}
body {font: 12px/18px Arial, sans-serif;height: 100%;}
.wrapper {width: 100%;min-width: 300px;min-height: 100%;height: auto !important;height: 100%;}
.header {height: 150px;background: #FFE680;}
.middle {width: 100%;padding: 0 0 100px;position: relative;}
.middle:after {display: table;clear: both;content: '';}
.container {width: 100%;float: left;overflow: hidden;}
.content {padding: 0 270px 0 270px;}
.left-sidebar {float: left;width: 250px;margin-left: -100%;position: relative;background: #B5E3FF;}
.right-sidebar {float: left;width: 250px;margin-left: -250px;position: relative;background: #FFACAA;}
.footer {margin: -100px auto 0;min-width: 300px;height: 100px;background: #BFF08E;position: relative;}
*/

/* BEGIN Hack migrate bootstrap 3 to 4: */
.fade.in{opacity:1}
/* END Hack migrate bootstrap 3 to 4: */

/* BEGIN Common wrapper: */
body{height: 100%}
.wrapper:not(.chat){width:100%;min-width:1000px;min-height:100%;height: auto !important;height: 100%}
.header{height:56px;background:#FFE680}
.middle{width:100%;padding:0 0 100px;position:relative}
.middle:after{display:table;clear:both;content:''}
.wrapper-container{width:100%;float:left/*;overflow:hidden*/}
.content{padding:0 250px 0 200px}
.side-left{float:left;width:200px;margin-left:-100%;position:relative;background:#B5E3FF}
.side-right{float:left;width:250px;margin-left:-250px;position:relative;background:#FFACAA}
.footer{margin:-100px auto 0;min-width:1000px;height:100px;background:#BFF08E;position:relative}

.wrapper:not(.chat),.footer{min-width:320px}
.header{height:56px}
.content{padding:0}
.header,.side-left,.side-right,.footer{background-color:transparent}
.side-left,.side-right{display:none}
/* chat: */
.wrapper.chat{height:100%;min-width:300px;min-height:300px;position:relative}
.wrapper.chat .middle{position:absolute;top:0;bottom:0;padding-bottom:0}
.wrapper.chat .wrapper-container{position:absolute;top:0;bottom:0}
.wrapper.chat .content{position:absolute;top:56px;bottom:0;left:0;right:0}
.footer.chat{display:none}
.wrapper.chat .content{}
/* END Common wrapper. */

.notifications{position:fixed;z-index:1500;top:5px;left:50%;margin-left:-570px}

/* BEGIN Chat: */
.wrapper-chat{height:100%;min-width:300px;min-height:300px;position:relative;background-color:#fff}
.header-chat{height:/*50px*/0;background-color:#ccc}
.footer-chat{height:100px;margin-top:-100px;position:relative;background-color:#888;overflow:auto}
.content-chat{position:absolute;top:0;left:50px;right:100px;bottom:100px}
.side-left-chat{width:50px;position:absolute;top:0;left:0;bottom:100px}
.side-right-chat{width:200px;position:absolute;top:0;right:0;bottom:100px}

.footer-chat .invalid-tooltip{line-height:1.1}
.section.section-chat-general{position:absolute;min-height:20px;top:/*50px*/0;left:0;right:100px;bottom:100px;background-color:#fff;overflow:hidden;overflow-y:auto}
.section.section-chat-private{position:absolute;min-height:10px;height:100px;right:100px;left:0;bottom:0;background-color:#e0e0e0;overflow:hidden;overflow-y:auto}
.section.section-rooms{height:100px;background-color:#c0c0c0;overflow:hidden;overflow-y:auto}
.section.section-users{position:absolute;top:100px;right:0;bottom:0;left:0;overflow:hidden;overflow-y:auto;background-color:#ddd}
.smiles-list{height:100%;overflow-y:auto;margin-right:1px;background-color:#e0e0e0}
.smiles-list>ul{list-style-type:none}
.smiles-list>ul{list-style-type:none;text-align:center}
.smiles-list>ul>li>img:hover{cursor:pointer}
.chat>div>span:nth-child(2){text-decoration:underline}
.chat>div>span:nth-child(1):hover,.chat>div>span:nth-child(2):hover{color:#ff0000;cursor:pointer}
.users-list{margin-left:-10px}
.users-list>div>div>[data-nickname]:hover{text-decoration:underline;cursor:pointer}
.users-list .badge-pill a{color:#fff;text-decoration:none}
.rooms-list>div:hover{text-decoration:underline;cursor:pointer}
.rooms-list .active{font-weight:bold}
.rooms-list div,.users-list div,.smiles-list ul{line-height:1}
.section-users h2,.section-rooms h2{font-size:1.15rem;text-align:center}
.section-users h3{font-size:1rem;text-align:center}
.dev .btn-group-sm > .btn, .dev .btn-sm{padding:.1rem .5rem;font-size:.7rem;line-height:1}
.scrollDown{width:30px;height:30px;border:1px solid #000;border-radius:50%;text-align:center;line-height:30px;font-size:18px;background-color:#ccc;cursor:pointer;opacity:.2}
.scrollDown{position:fixed;right:224px}
.section-chat-general .scrollDown{bottom:208px}
.section-chat-private .scrollDown{bottom:108px}
.scrollDown:hover{opacity:1}
/* END Chat. */

.navbar-brand{padding-top:0;padding-bottom:0;font-size:0}
img.logo{height:40px}
ul.noType{list-style-type:none}

.navbar.bg-scrummy{background-color:#40192c!important}
.navbar.bg-scrummy{background-color:#542036!important}
.navbar.bg-scrummy{background-color:#045b5e!important}
.navbar.bg-scrummy{background-color:#5e0434!important}
.bg-scrummy .nav-link{color:#e5e5e5}
.bg-scrummy a:hover,.bg-scrummy a:focus{color:#fff}
.navbar.bg-scrummy .dropdown-menu{background-color:#5e0434}
.navbar.bg-scrummy .dropdown-menu .dropdown-item{color:#e5e5e5}
.navbar.bg-scrummy .dropdown-menu .dropdown-item:hover{background-color:#40192c}

[data-user-anonyme],[data-user-authorized]{display:none}
.hide{display:none}

.field-message{min-width:120px}
.form-control-sm{font-size:16px}
.dropdown-menu.dropdown-menu-left{right:0;left:auto}
.loader.progress{width:300px;margin:0 auto}
.loader.progress .progress-bar{width:100%}
label.required:after{content:"*";color:#ff0000}

.modal-dialog.modal-carousel{max-width:1300px}

.s-wrapper{width:100%;min-width:320px}
.s-middle{width:100%;position:relative}
.s-middle:after{display:table;clear:both;content:''}
.s-container{width:100%;float:left;overflow:hidden}
.s-content{padding:0 250px 0 250px}
.s-left-sidebar{float:left;width:250px;margin-left:-100%;position:relative}
.s-right-sidebar{float:left;width:250px;margin-left:-250px;position:relative}
.s-wrapper.s-wrapper-fixed{width:1000px;margin:0 auto}
.s-index.s-wrapper.s-wrapper-fixed{width:1200px}
.s-index .s-left-sidebar{width:320px}
.s-index .s-right-sidebar{width:320px;margin-left:-320px}
.s-index .s-content{padding-left:340px;padding-right:340px}

.domloader{position:fixed;z-index:3500;top:0;right:0;bottom:0;left:0;background-color:#fff;opacity:.9}
.domloader .domloader-modal{position:fixed;z-index:3510;width:50%;height:100px;top:50%;left:25%;margin-top:-50px}
.blackout{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#000;opacity:.8;z-index:1000;display:none}
.modal-custom{position:fixed;z-index:1010;border:1px solid #000;border-radius:5px;background-color:#fff}
.form-auth{min-width:320px}

.photo-profile{margin:0 10px 10px 0}
.photo-profile.photo-profile-medium{float:left;width:200px;height:200px}
.profile.list-group-item{float:none;clear:both;overflow:hidden}

.profilePhotos{}
.profilePhotos .slider{display:flex}
.profilePhotos .slider>ul{list-style-type:none}
.profilePhotos .slider>ul>li{display:block;float:left;width:83px;height:83px;border:1px solid #ccc;margin:2px;padding:2px;text-align:center}
.profilePhotos .slider>ul>li:hover{cursor:pointer;border-color:#000}
.profilePhotos .slider>ul>li img{max-width:76px;max-height:76px}

.comments>ul{list-style-type:none}
.comments>ul>li{clear:both;float:none;overflow:hidden}
.comments .date{font-size:0.6rem;color:#999}
.comments img.photo-comment{float:left;margin:0 10px 10px 0;max-width:50px;max-height:50px}
.comments p{font-size:0.75rem}

.errors{color:#ff0000}
div.disabled{color:#999}

.mt5{margin-top:5px}

.copyright{position:fixed;width:100%;bottom:0;font-size:12px;text-align:center}
.copyright a{color:#000}

@media(max-width:1200px) {
	.s-index.s-wrapper.s-wrapper-fixed{width:960px}
}
@media(max-width:960px) {
	.s-index.s-wrapper.s-wrapper-fixed{width:auto}
	.s-index .s-content{padding-left:0;padding-right:0}
	.s-index .s-left-sidebar{float:none;margin-left:0;width:auto}
	.s-index .s-right-sidebar{float:none;margin-left:0;width:auto}
}
@media(max-width:768px) {
	.header-chat{height:29px}
	.section.section-chat-general{top:29px;right:0;bottom:0;display:none}
	.header-chat .nav-link{padding:0.1rem}
	.section.section-chat-private{min-height:0;height:0;right:0}
	.section.section-chat-general.active-chat-tabs-container{display:block}
	.section.section-chat-private.active-chat-tabs-container{top:29px;height:auto}
	.side-right-chat.active-chat-tabs-container{top:29px;left:0;width:auto;display:block}
	.side-right-chat.active-chat-tabs-container .section-rooms{height:auto;overflow:hidden}
	.side-right-chat.active-chat-tabs-container .section-users{position:static;overflow:hidden}

	.content-chat{left:0;right:0}
	.side-left-chat{width:0;display:none}
	.side-right-chat{width:0;display:none}

	.scrollDown{position:fixed;right:24px}
	.section-chat-general .scrollDown{bottom:108px}
}
@media (min-width: 320px) {
	.notifications{margin-left:-150px}
}
@media (min-width: 576px) {
	.notifications{margin-left:-270px}
}
@media (min-width: 768px) {
	.notifications{margin-left:-360px}
}
@media (min-width: 992px) {
	.notifications{margin-left:-480px}
}
@media (min-width: 1200px) {
	.notifications{margin-left:-570px}
}
@media (max-width: 575px) {
	.notifications{width:300px}
}
@media (max-width: 319px) {
	.notifications{width:300px;margin-left:-150px}
}

.abcRioButton {-webkit-border-radius:1px;border-radius:1px;box-shadow:0 2px 4px 0 rgba(0,0,0,.25);-webkit-box-sizing:border-box;box-sizing:border-box;
	-webkit-transition:background-color .218s,border-color .218s,box-shadow .218s;transition:background-color .218s,border-color .218s,box-shadow .218s;
	-webkit-user-select:none;-webkit-appearance: none;background-color: #fff;background-image: none;color: #262626;cursor: pointer;outline: none;
	overflow:hidden;position:relative;text-align:center;vertical-align:middle;white-space:nowrap;width:auto}
.abcRioButton:hover{-webkit-box-shadow:0 0 3px 3px rgba(66,133,244,.3);box-shadow:0 0 3px 3px rgba(66,133,244,.3)}
.abcRioButtonBlue{background-color:#4285f4;border:none;color:#fff}
.abcRioButtonBlue:hover{background-color:#4285f4}
.abcRioButtonBlue .abcRioButtonContentWrapper{border:1px solid transparent}
.abcRioButtonContentWrapper{height:100%;width:100%}
.abcRioButtonBlue .abcRioButtonIcon{background-color:#fff;-webkit-border-radius:1px;border-radius:1px}
.abcRioButtonIcon{float:left}
.abcRioButtonSvg{display:block}
.abcRioButtonContents{font-family:Roboto,arial,sans-serif;font-size:14px;font-weight:500;letter-spacing:.21px;margin-left:6px;margin-right:6px;vertical-align:top}


